@import "tailwindcss";

@theme {
  --animate-float: float 6s ease-in-out infinite;
  --animate-pulse-subtle: pulse-subtle 4s ease-in-out infinite;
  --animate-fade-in: fade-in 0.7s ease-out forwards;
  --animate-fade-in-delay-1: fade-in 0.7s ease-out 0.2s forwards;
  --animate-fade-in-delay-2: fade-in 0.7s ease-out 0.4s forwards;
  --animate-fade-in-delay-3: fade-in 0.7s ease-out 0.6s forwards;
  --animate-fade-in-delay-4: fade-in 0.7s ease-out 0.8s forwards;
  --animate-rain: rain 5s linear infinite;

  @keyframes rain {
    0% {
      transform: rotate(250deg) translateX(300px);
      opacity: 0;
    }
    5% {
    opacity: 1;
  }
    85% {
      opacity: 1;
    }
    100% {
      transform: rotate(250deg) translateX(-150vh);
      opacity: 0;
    }
  }
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: 'Inter', sans-serif;
}

.dark {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

@utility rain {
  @apply absolute bg-linear-to-r from-white via-white to-transparent rounded-full;
  box-shadow: 0 0 5px 0px rgba(255, 255, 255, 0.3);
}